# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

# Compiled source #
####################
*.exec
*.dll
*.exe
*.o
*.so
*.com
*.class
*.out
*.map
.DS_Store

# VSC #
#######
vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json