/* Size */
$width: 400px;
$line-height: 3rem;

/* Layout */
$margin: 1rem;
$padding: 1rem;

/* Font */
$font-family: 'Do Hyeon', sans-serif;
$font-size-medium: 1.25rem;
$font-size-large: 2.5rem;

// Color
$background-color: #f7ede2;
$header-color: #fdbb2d;
$gray-color: #f7f7f7;
$white-color: #ffffff;
$border-style: 3px solid black;
