@import "_base", "_variable";

body {
  font-family: $font-family;
  background-color: #f7ede2;
}

.container {
  margin: 10vh auto; 
  width: $width;
  border: $border-style;
  box-shadow: 2px 1px 1px 2px rgba(0, 0, 0, 0.5);;

  header {
    background-color: $yellow-color;
    text-align: center;
    padding: $padding;
    user-select: none;

    h1 {
      font-size: $font-size-large;
    }
  }

  input {
    width: $width;
    line-height: $line-height;
    box-sizing: border-box;
    font-size: $font-size-medium;
    user-select: none;
    text-align: center;
    font-family: $font-family;
    border:none;
    background-color: $gray-color;

      &:focus {
        outline: none;
        border: {
          top: $border-style;
          bottom: $border-style;
        }
        &::placeholder {
          visibility: hidden;
          // opacity: 0;
        }
      }
  }

  li {
    line-height: $line-height;
    user-select: none;

    &:nth-child(2n+1) {
      background-color: $white-color;
    }
    
    &:nth-child(2n) {
      background-color: $gray-color;
    }

    font: {
      size: $font-size-medium;
    }
    //  checkBox
    .far, .fas {
      padding: $padding;
      margin-left: $margin;
      cursor: pointer;
    }

    .todo {
      margin-left: $margin;
    }

  }
}

.checked {
  text-decoration: line-through;
}