@import "_base", "_variable";

body {
  font-family: $font-family;
  background-color: $background-color;
  transition: .3s linear;

  &.dark {
    background-color: #242424;
  }
}

.container {
  margin: 10vh auto; 
  width: $width;
  border: $border-style;

  header {
    position: relative;
    background-color: $header-color;
    text-align: center;
    padding: $padding;
    user-select: none;
    transition: .3s linear;

    &.dark {
      background-color: #f59f00;
    }

    h1 {
      font-size: $font-size-large;
    }

    .toggleBtn {
      position: absolute;
      right: 20px;
      top: 25px;
      font-size: $font-size-medium;
      cursor: pointer;
    }
  }

  input {
    width: $width;
    line-height: $line-height;
    box-sizing: border-box;
    font-size: $font-size-medium;
    user-select: none;
    text-align: center;
    font-family: $font-family;
    border:none;
    background-color: $gray-color;

      &:focus {
        outline: none;
        border: {
          top: $border-style;
          bottom: $border-style;
        }
        &::placeholder {
          visibility: hidden;
        }
      }
  }

  li {
    line-height: $line-height;
    user-select: none;

    &:nth-child(2n+1) {
      background-color: $white-color;
    }
    
    &:nth-child(2n) {
      background-color: $gray-color;
    }

    font: {
      size: $font-size-medium;
    }
    //  checkBox
    .far, .fas {
      padding: $padding;
      margin-left: $margin;
      cursor: pointer;
    }

    .todo {
      margin-left: $margin;
    }

  }
}

.checked {
  text-decoration: line-through;
}